.text {
  background-color: #f2f2f2;
  text-align: left;

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;

  margin-bottom: 0.2rem;
}

.word {
  cursor: pointer;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: 450;

  &:hover {
    background-color: #5bc8dc;
  }
}

.active {
  background-color: #f6d918;
}
