.button {
  background-color: #8f8f8f;
  color: #ffffff;
  font-size: 1rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  border: none;
  cursor: pointer;

  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  margin-bottom: 0.2rem;
}

.button:hover {
  background-color: #707070;
}

.right {
  font-weight: bold;
}
