.comments {
  background-color: rgb(242, 242, 242);

  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  margin-bottom: 0.2rem;
}

.dl {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin-right: 7px;
  margin-left: 7px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.dt {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.dd {
  margin: 0;
  padding: 0;
}

